﻿@charset "UTF-8";
/* ----------------------------------------------------------------------------------------------------
 *  基本情報
 * --------------------------------------------------------------------------------------------------*/

html,
body {
  height: auto;
  overflow-y: visible;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Arial, Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #000;
  background: #fff;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  transition: 0.2s;
}

.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
  content: ".";
}

ul li {
  list-style: none;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.flL {
  float: left;
}

.flR {
  float: right;
}

.pdR45 {
  padding-right: 45px;
}

.pdR30 {
  padding-right: 30px;
}

.pdL30 {
  padding-left: 30px;
}

.mgT30 {
  margin-top: 30px;
}

/* ----------------------------------------------------------------------------------------------------
 *  レイアウト
 * --------------------------------------------------------------------------------------------------*/

#wrapper-liftmaxmizer-pc .content {
  min-width: 1140px;
  margin: 0 auto;
}

#wrapper-liftmaxmizer-pc .inner-wrap {
  width: 950px;
  margin: 0 auto;
}

#wrapper-liftmaxmizer-pc .inner {
  width: 785px;
  margin: 0 auto;
}

#wrapper-liftmaxmizer-pc .tit-head-r {
  position: relative;
  text-align: center;
  background: url(../img/tit_bg01.jpg) repeat;
}

#wrapper-liftmaxmizer-pc .tit-head-r:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
  background: url(../img/tit_bdT.jpg) top center no-repeat;
  background-size: cover;
}

#wrapper-liftmaxmizer-pc .tit-head-r:after {
  position: absolute;
  content: '';
  width: 49px;
  height: 17px;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  bottom: -15px;
  background: url(../img/red_arrow.png) bottom center no-repeat;
}

#wrapper-liftmaxmizer-pc .tit-head-b {
  text-align: center;
  background: url(../img/tit_bg02.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow:0px 5px 6px 2px rgba(67, 30, 0, 1);
  -moz-box-shadow: 0px 5px 6px 2px rgba(67, 30, 0, 1);
  box-shadow: 0px 5px 6px 2px rgba(67, 30, 0, 1);
}

/* ----------------------------------------------------------------------------------------------------
 *  タイポグラフィ
 * --------------------------------------------------------------------------------------------------*/
#wrapper-liftmaxmizer-pc .txt-cmn {
  margin: 30px 0 0 0;
  letter-spacing: -0.6px;
}

#wrapper-liftmaxmizer-pc .txt-underline {
  background: url(../img/text_bdr.jpg) repeat-x bottom 3px center;
}

#wrapper-liftmaxmizer-pc .txt-coline {
  background: url(../img/bg_line.png);
  background-repeat: repeat-x;
  background-position-y: 110%;
  font-weight: bold;
}

#wrapper-liftmaxmizer-pc .txt-red {
  color: #cc0000;
  font-size: 20px;
  font-weight: bold;
}

#wrapper-liftmaxmizer-pc .txt-bold {
  font-weight: bold;
}

#wrapper-liftmaxmizer-pc .let-normal {
  letter-spacing: normal;
}

#wrapper-liftmaxmizer-pc .box-shadow {
  padding: 50px 0 98px 0;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(218, 218, 218, 1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(218, 218, 218, 1);
  box-shadow: 0px 0px 5px 1px rgba(218, 218, 218, 1);
}

#wrapper-liftmaxmizer-pc {
  position: relative;
}

#wrapper-liftmaxmizer-pc:before {
  width: 100%;
  height: 5px;
  background: url(../img/top-border.jpg) repeat-x;
  content: "";
  position: absolute;
  top: 0;
}

#wrapper-liftmaxmizer-pc .main-visual {
  background: url(../img/main-visual-bg.jpg);
  background-size: cover;

}

#wrapper-liftmaxmizer-pc .main-visual h1 {
  text-align: center;
  padding: 21px 0 0 120px;
}

.mainvi-txt {
  font-size: 13px;
  margin: -8px 0 4px 69px;
  text-align: center;
}


/** liftmaxmizer-sec03 **/
#wrapper-liftmaxmizer-pc .lift-sec03-bl {
  background: url(../img/sec03_bg01.jpg) repeat-y;
  background-size: cover;
  padding: 0 0 0 0;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bg {
  width: 925px;
  margin: 27px auto 0;
  padding: 20px 0 0 0;
  background: #fff;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bgIn {
  position: relative;
  padding: 20px 20px 61px 25px;

}

#wrapper-liftmaxmizer-pc .lift-sec03-bgIn:before {
  position: absolute;
  content: '';
  width: 884px;
  height: 71px;
  background: url(../img/sec03_bg03_before.png) no-repeat;
  top: 0;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bgIn:after {
  position: absolute;
  content: '';
  width: 884px;
  height: 83px;
  background: url(../img/sec03_bg03_after.png) no-repeat;
  bottom: 26px;
  visibility: initial;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bg_dash {
  width: 885px;
  margin: 51px auto 0;
  background: url(../img/sec03_bg03_dash.jpg) 0 0 no-repeat;
}

#wrapper-liftmaxmizer-pc .lift-sec03-dash-bl {
  width: 805px;
  margin: 0 auto;
}

#wrapper-liftmaxmizer-pc .lift-sec03-img {
  text-align: center;
  margin: 0 0 8px -10px;
  position: relative;
  top: -28px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-txt {
  font-size: 20px;
  padding: 0 0 24px 4px;
  letter-spacing: 1px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-img02 {
  padding: 27px 0 35px 4px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-fx .flL {
  width: 375px;
  font-size: 20px;
  padding-left: 6px;
  line-height: 1.5;
}

#wrapper-liftmaxmizer-pc .lift-sec03-fx .flR {
  padding: 20px 4px 0 0;
}

#wrapper-liftmaxmizer-pc .lift-sec03-box {
  margin: 55px 0 22px 3px;
  border: 9px solid #4d88b0;
  padding-bottom: 20px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-box-bdrIn {
  width: 748px;
  margin: 0 20px 0 20px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-box-txt {
  font-size: 18px;
  padding: 22px 0 18px 5px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-box-img {
  margin: 0 0 7px 3px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-list {
  margin: 7px 0 0 38px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-list li {
  float: left;
  text-align: center;
  padding-right: 48px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-list li:last-child {
  padding-left: 12px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-list li span {
  display: block;
  margin: -4px 0 0 0;
}

#wrapper-liftmaxmizer-pc .lift-sec03-box-img02 {
  margin: 0 0 7px 24px;
  position: relative;
}

#wrapper-liftmaxmizer-pc .lift-sec03-txt-ab {
  position: absolute;
  top: 168px;
  right: 74px;
  font-size: 14px;
  color: #080909;

}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02 {
  padding: 14px 0 46px 0;
  background: url(../img/sec03_bg02.jpg) repeat-y;
  background-size: cover;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02 .lift-sec03-bgIn {
  padding: 20px 20px 55px 25px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02 .lift-sec03-bg_dash {
  margin-top: 52px;
  margin-bottom: 42px;
  box-sizing: border-box;
  padding-bottom: 21px;

}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02 .lift-sec03-bg {
  padding: 32px 0 0 0 !important;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-img {
  text-align: center;
  margin: 0 0 -10px -17px;
  position: relative;
  top: -24px;

}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-img02 {
  margin: 0 0 0 -7px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-fx {
  margin: 0 0 0 8px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-fx .flL {
  width: 445px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.5;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-fx .flL p {
  padding-bottom: 8px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-fx .flL span.fs {
  padding-left: 18px;
  font-size: 13px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-fx .flL img {
  margin: 0 0 0 -17px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-fx .flR {
  margin: -14px -5px 0 0;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-note01 {
  font-size: 14px;
  color: #111111;
  text-align: right;
  margin: -4px 9px 0 0;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-note02 {
  font-size: 14px;
  color: #111111;
  text-align: right;
  margin: -4px 20px 0 0;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-img03 {
  margin: 73px 0 9px 17px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-list {
  margin: 23px 0 0 27px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-list li {
  float: left;
  padding-bottom: 24px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-list li span {
  display: block;
  font-size: 24px;
  color: #001111;
  margin: -4px 0 0 27px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-list li:nth-child(2) span {
  margin: -4px 0 0 47px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-list li:nth-child(3) span {
  text-align: center;
  margin: -4px 0 0 -4px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-list li:nth-child(4) span {
  margin: -6px 0 0 4px;
  text-align: center;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-list li:nth-child(3),
#wrapper-liftmaxmizer-pc .lift-sec03-bl02-list li:nth-child(4) {
  padding-bottom: 15px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl02-img04 img {
  margin: -13px 0 0 26px;
}

.lift-sec03-bl03 {
  background: url(../img/sec03_bg03.jpg) no-repeat;
  background-size: cover;
  padding-bottom: 54px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl03 .lift-sec03-bg {
  margin: 0 auto !important;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl03-img {
  width: 885px;
  margin: 13px auto 0;
  position: relative;
  padding-left: 5px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl03-img p {
  position: absolute;
  top: 360px;
  font-size: 14px;
  color: #111111;
  right: 30px;
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl03-img02 {
  width: 1217px;
  margin: 37px auto 0;
  position: relative;
  padding-left: 7px;

}

#wrapper-liftmaxmizer-pc .lift-sec03-bl03-img02 p {
  position: absolute;
  bottom: 40px;
  left: 138px;
  font-size: 13px;
  color: #111111
}

#wrapper-liftmaxmizer-pc .lift-sec03-bl03-btn {
  text-align: center;
  margin: -12px 0 0 -21px;
}

/*liftmaxmizer-sec04*/
#wrapper-liftmaxmizer-pc .liftmaxmizer-sec04 {
  padding-bottom: 47px;
  background: url(../img/sec04_bg01.jpg) no-repeat;
  background-size: cover;
}

#wrapper-liftmaxmizer-pc .liftmaxmizer-sec04In {
  width: 840px;
  margin: 42px auto 0;
  padding-bottom: 36px;
  background: url(../img/sec04_bg02.jpg) no-repeat;
}

#wrapper-liftmaxmizer-pc .liftmaxmizer-sec04-img {
  text-align: center;
  padding: 55px 0 0 14px;
}

#wrapper-liftmaxmizer-pc .liftmaxmizer-sec04-fx {
  padding: 15px 40px 0 46px;
}

#wrapper-liftmaxmizer-pc .liftmaxmizer-sec04-fx .flL {
  width: 475px;
  font-size: 20px;
  padding-top: 14px;
}

#wrapper-liftmaxmizer-pc .liftmaxmizer-sec04-fx .flL p {
  padding-bottom: 25px;
}

#wrapper-liftmaxmizer-pc .liftmaxmizer-sec04-fx .flL p:last-child {
  padding-bottom: 0;
  line-height: 1.5;
}

#wrapper-liftmaxmizer-pc .liftmaxmizer-sec04-fx .flL p span {
  display: block;
}

.liftmaxmizer-sec04-txt {
  padding: 12px 0 0 46px;
}

/** liftmaxmizer-sec05 **/

#wrapper-liftmaxmizer-pc .lift-sec05-bl {
  background: url(../img/sec05_bg01.jpg) repeat-y;
  background-size: cover;
  padding: 0 0 0 0;
}

#wrapper-liftmaxmizer-pc .lift-sec05-bg {
  width: 920px;
  margin: 50px auto 47px;
  padding: 20px 0 0 0;
  background: url(../img/sec05_bg02.png);
  background-size: 100% 100%;
}

#wrapper-liftmaxmizer-pc .lift-sec05-bgIn {
  padding: 18px 13px 0px 25px;
}

#wrapper-liftmaxmizer-pc .sec05-top {
  width: 850px;
  margin: 0px auto 35px;
}

#wrapper-liftmaxmizer-pc .lift-sec05-afterskin {
  position: relative;
}

#wrapper-liftmaxmizer-pc .lift-sec05-afterskin img {
  display: block;
  margin: auto;
}

#wrapper-liftmaxmizer-pc .lift-sec05-afterskin-txt {
  position: absolute;
  bottom: -3px;
  padding-left: 7px;
  font-size: 21.15px;
}

#wrapper-liftmaxmizer-pc .lift-sec05-bgIn .sec05-usettl {
  margin: 23px 14px 15px 0px;
  text-align: center;
}

#wrapper-liftmaxmizer-pc .lift-sec05-bgIn .sec05-usetxt {
  padding-left: 6px;
  margin: 0px 20px 25px 0px;
  font-size: 24px;
  letter-spacing: -0.7px;
  text-align: center;
  line-height: 1.3;
}

#wrapper-liftmaxmizer-pc .sec05-vector {
  margin-left: -4px;
}

#wrapper-liftmaxmizer-pc .lift-sec05-list li {
  float: left;
  width: 31.7%;
  margin: 0px 2% 45px 0px;
}

#wrapper-liftmaxmizer-pc .lift-sec05-list li:nth-child(3n) {
  margin: 0px 0% 45px 0px;
}

#wrapper-liftmaxmizer-pc .lift-sec05-list li p {
  padding-left: 5px;
  margin-top: 12px;
  font-size: 16px;
  letter-spacing: 0.1px;
}


/** liftmaxmizer-sec06 **/

#wrapper-liftmaxmizer-pc .lift-sec06-in {
  margin: 14px 0px 77px;
  text-align: center;
}


/** liftmaxmizer-sec07 **/

#wrapper-liftmaxmizer-pc .lift-sec07-in {
  width: 952px;
  margin: 0px auto 0px;
}

#wrapper-liftmaxmizer-pc .sec07-block01 {
  margin-top: 53px;
  text-align: center;
}

#wrapper-liftmaxmizer-pc .sec07-block02 {
  padding: 65px 0px 26px 0px;
  background: url(../img/sec07_block02bg.png)no-repeat;
  background-size: 100% 100%;
  background-position: -5px;
  margin-top: 91px;
}

#wrapper-liftmaxmizer-pc .sec07-block02 .block02_top {
  text-align: center;
}

#wrapper-liftmaxmizer-pc .sec07-block02-box {
  position: relative;
  margin-bottom: 20px;
}

.sec07-block02-box .block02-boxtxt {
  position: absolute;
  top: 200px;
  left: 73px;
  width: 490px;
  font-size: 24px;
  line-height: 1.45em;
  letter-spacing: -0.8px;
}

.sec07-box02 .block02-boxtxt {
  top: 168px;
}

.sec07-box03 {
  margin-bottom: 17px;
}

.sec07-box03 .block02-boxtxt {
  top: 189px;
}

.sec07-box04 {
  margin-bottom: 10px;
}

.sec07-box04 .block02-boxtxt {
  top: 180px;
}

#wrapper-liftmaxmizer-pc .block02-boxtxt span.txt-coline {
  background: url(../img/border_yellow.jpg);
  background-repeat: repeat-x;
  background-position-y: 90%;
  font-weight: bold;
}

/** liftmaxmizer-sec08 **/
#wrapper-liftmaxmizer-pc .liftmaxmizer-sec08 {
  background: url(../img/sec08_bg01.jpg) repeat-y;
  background-size: cover;
}

#wrapper-liftmaxmizer-pc .liftmaxmizer-sec08 .liftmaxmizer-sec08In {
  width: 927px;
  margin: 67px auto 38px;
  padding: 17px 28px 50px 43px;
  background: #f7f7f2;
  border: 1px solid #dfc797;
}

#wrapper-liftmaxmizer-pc .liftmaxmizer-sec08 .question {
  padding: 20px 0 18px;
  border-bottom: 1px dotted #d57765;
}

#wrapper-liftmaxmizer-pc .liftmaxmizer-sec08 .quest-tit {
  position: relative;
  padding: 4px 0 0 62px;
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: bold;
}

#wrapper-liftmaxmizer-pc .liftmaxmizer-sec08 .quest-tit:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 47px;
  height: 47px;
  background: url(../img/ques_img.png)no-repeat top center;
  content: '';
}

#wrapper-liftmaxmizer-pc .liftmaxmizer-sec08 .answer {

  padding: 2px 0 0 6px;
  font-size: 18px;
  line-height: 1.4;
}

#wrapper-liftmaxmizer-pc .liftmaxmizer-sec08 .answer span {
  font-size: 12px;
  padding: 25px 0 0 0;
  display: block;
  text-align: right;
}

/** liftmaxmizer-sec09 **/

#wrapper-liftmaxmizer-pc .liftmaxmizer-sec09 {
  background: url(../img/sec09_bg.jpg);
  background-size: 100% 100%;
}

#wrapper-liftmaxmizer-pc .lift-sec09-in {
  padding: 31px 0px 45px;
  text-align: center;
}


/** liftmaxmizer-sec10 **/

#wrapper-liftmaxmizer-pc .liftmaxmizer-sec10 {
  padding: 127px 0px 0px;
  text-align: center;
}

#wrapper-liftmaxmizer-pc .sec10-block02 ul li:first-child {
  margin-bottom: 58px;
}

#wrapper-liftmaxmizer-pc .sec10-block02 ul li:nth-child(2) {
  margin-bottom: 43px;
}

/*liftmaxmizer-formtbl*/
.liftmaxmizer-formtbl {
  width: 880px;
  margin: 30px auto 50px;
}

.liftmaxmizer-formtbl table {
  width: 100%;
  border: 1px solid #cbcbcb;
}

.liftmaxmizer-formtbl table th {
  width: 88px;
  border: 1px solid #cbcbcb;
  font-size: 14px;
  font-weight: normal;
  vertical-align: top;
  text-align: left;
  padding: 7px 0 8px 9px;
}

.liftmaxmizer-formtbl table td {
  border: 1px solid #cbcbcb;
  font-size: 14px;
  padding: 9px 0 0 22px;

}

.liftmaxmizer-formtbl table td.formlast {
  font-size: 10px;
  padding: 9px 10px 20px 13px;
}

/* ----------------------------------------------------------------------------------------------------
 *  フッター
 * --------------------------------------------------------------------------------------------------*/

#wrapper-liftmaxmizer-pc .footer {
  padding: 18px 0 21px;
  background: #f0eee1;
}

#wrapper-liftmaxmizer-pc .footer .inner {
  width: 960px;
  margin: 0 auto;
}

#wrapper-liftmaxmizer-pc .footer ul {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#wrapper-liftmaxmizer-pc .footer ul li {
  display: inline-block;
  font-size: 16px;
}

#wrapper-liftmaxmizer-pc .footer ul li:nth-child(1) a {
  padding: 0 7px 0 20px;
  color: #111;
}

#wrapper-liftmaxmizer-pc .footer ul li a {
  color: #111;
}

#wrapper-liftmaxmizer-pc .footer ul li:nth-child(2) a {
  padding: 0 4px 0 6px;
}

#wrapper-liftmaxmizer-pc .footer ul li:nth-child(3) a {
  padding: 0 8px 0 7px;
}

#wrapper-liftmaxmizer-pc .copyright-txt {
  font-size: 16px;
  color: #111;
  text-align: center;
}